<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35354405724-9e2mnfnm9m5uqo3tq14kq7llhkjpeggg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35354405724-9e2mnfnm9m5uqo3tq14kq7llhkjpeggg</string>
	<key>API_KEY</key>
	<string>AIzaSyCz9fQmUdqnkqdjr4FvvfvrmQbVoo5D0sI</string>
	<key>GCM_SENDER_ID</key>
	<string>35354405724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.FirestoreHenriqueApp</string>
	<key>PROJECT_ID</key>
	<string>firestoreapp-8f714</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreapp-8f714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35354405724:ios:c02fc731c373da10</string>
	<key>DATABASE_URL</key>
	<string>https://firestoreapp-8f714.firebaseio.com</string>
</dict>
</plist>